.top-half{
    display:flex;
    flex-direction: column;
    color: rgb(255, 255, 255, 0.81);
    background-color: rgb(25, 25, 25);
    font-family: "Roboto Mono";
    align-items: center;
    gap: 10px
}

ul{
    list-style-type: none;
    align-items: center;
}

h1 {
    font-size: 75px;
    text-align: center;

  }

input{
    min-height: 20px;
    min-width: 100px;
    border-radius: 15px;
    text-align: center;
    resize: both;
    overflow: auto;
}
button{
    border-radius: 15px;
    width: 50%;
    
}

.autoresize {
    resize: none;
    overflow-y: hidden; /* Need this or auto resize won't work */
    min-height: 40px;
    width: 50%;
    padding: 8px; 
    box-sizing: border-box; 
    max-height: 500px;
    background-color: rgb(25, 25, 25);
    color: rgb(255, 255, 255, 0.81);
}

.taskClass{
    color: rgb(255, 255, 255, 0.81);
    background-color: rgb(25, 25, 25);
    font-family: "Roboto Mono";
    
}

body{
    color: rgb(255, 255, 255, 0.81);
    background-color: rgb(25, 25, 25);
    font-family: "Roboto Mono";
    
}

.removeToDo {
    align-items: baseline;
    width: auto;
    border: none;
}

.fa-trash{
    color: rgb(255, 77, 77);
    height: 50px;
    margin-right: 15px;
}



.removeToDo:hover{
    color: rgb(235, 105, 105);
    transition: 0.8s;
    cursor: pointer;
}

#addTaskButton {
    background-color: rgb(76, 175, 80);
    border: none;
    font-size: 20px;
    width: 15%;
    font-family: "Roboto Mono";
}

#addTaskButton:hover{
    background-color: rgb(115, 206, 118);
    transition: 0.8s;
    cursor: pointer;
}

#clearListButton{
    background-color: rgb(235, 77, 77);
    transition: 0.8s;
    border:none;
    font-size: 20px;
    width: 15%;
    font-family: "Roboto Mono";
}

#clearListButton:hover{
    background-color: rgb(235, 105, 105);
    transition: 0.8s;
    cursor: pointer;
}

#taskList{
    background-color: rgb(25, 25, 25);
}

.taskClass #taskList {
    display: flex;
    padding: 0;
    margin: 0;
    margin-top: 100px;
    flex-direction: column;
    background-color: rgb(25, 25,25);
}

/* Style the checkbox */
.completedcheckbox {
    margin-right: 10px; /* Space between checkbox and text */
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: rgb(76, 175, 80); /* Changes checkbox color */
    resize: none;
}

/* Style the checked state */
.completedcheckbox:checked + span {
    text-decoration: line-through;
    color: rgba(255, 255, 255, 0.5); /* Optional: Fade out completed tasks */
}